@model IEnumerable<OhDataManager.Entities.Main.PersonalAccountAccrual>
    @{
        Layout = "~/Views/Director/_Layout.cshtml";
        ViewBag.Title = "Должники";
    }

    <section class="content-header">
    </section>

    <section class="content">

      <div class="row">
      </div>

    </section>
