@model IEnumerable<OhDataManager.Entities.Main.PersonalAccountAccrual>
    @{
        Layout = "~/Views/Director/_Layout.cshtml";
        ViewBag.Title = "Начисления и платежи";
    }

<div class="box">

  <div class="box-header with-border">

    <div class="row">
      <div class="col-md-3">
        <select class="form-control select2" name="service">
          <option value="default">Все услуги</option>
          <option value="service1">Услуга 1</option>
          <option value="service2">Услуга 2</option>
          <option value="service3">Услуга 3</option>
          <option value="service4">Услуга 4</option>
          <option value="service5">Услуга 5</option>
        </select>
      </div>
    </div>

  </div>

  <div class="box-body">
    <div class="row">
      <div class="col-xs-12">
        <div class="chart-wrapper">
          <canvas class="chart-payments" height="100px"></canvas>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="box">

  <div class="box-body">
    <div class="row">
      <div class="col-xs-12">
        <table id="directorPaymentsDataTable" class="table table-bordered table-hover dataTable">
          <thead>
            <tr class="webgrid-header">
              <th></th>
              <th>Услуга</th>
              <th>Входящее сальдо</th>
              <th>Начислено</th>
              <th>Перерасчет</th>
              <th>Оплачено</th>
              <th>Недопоставка</th>
              <th>Исходящее сальдо</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Водоснабжение</td>
              <td>100</td>
              <td>20</td>
              <td>300</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>2</td>
              <td>Водоотведение</td>
              <td>200</td>
              <td>20</td>
              <td>150</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>3</td>
              <td>Электроснабжение</td>
              <td>10</td>
              <td>200</td>
              <td>88</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>4</td>
              <td>Отопление</td>
              <td>200</td>
              <td>98</td>
              <td>7</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>5</td>
              <td>Управление домом</td>
              <td>150</td>
              <td>76</td>
              <td>0</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th></th>
              <th>Итого</th>
              <th>1000</th>
              <th>2000</th>
              <th>100</th>
              <th>500</th>
              <th>100</th>
              <th></th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>

</div>
