@{
  Layout = "~/Views/Employee/_Layout.cshtml";
  ViewBag.Title = "Наряд заказ";
}

<section class="wrapper">

  <section class="content-header">
    <div class="content-title">
      <div class="container">
        <div class="row">
          <div class="col-md-12"><h1>@ViewBag.Title</h1></div>
        </div>
      </div>
    </div>
  </section>

@{
  Html.RenderAction("SetPrintingJobOrder", "Report", new { claimId = ViewData["claimId"], reservation = ViewBag.Reservation });
}
