@{
  Layout = "~/Views/Employee/_Layout.cshtml";
  ViewBag.Title = "Показания ИПУ";
}

<section class="wrapper">

  <section class="content-header">
    <div class="content-title">
      <div class="container">
        <div class="row">
          <div class="col-md-12"><h1>@ViewBag.Title</h1></div>
        </div>
      </div>
    </div>
  </section>

@{
  Html.RenderAction("SetReportListOfIPUVals", "Report", new { Houses = ViewData["Houses"], Kvars = ViewData["Kvars"], reservation = ViewBag.Reservation, allvals = ViewBag.Allvals });
}
